Repository paralect/ship, pull requests merged in 2023-10, with the labels that each got.

#226 Migrated to mongodb v6
  packages/node-mongo/Dockerfile.tests
  packages/node-mongo/docker-compose.tests.yml
  packages/node-mongo/mongo-replicator/Dockerfile
  packages/node-mongo/mongo-replicator/setup.sh
  packages/node-mongo/package-lock.json
  packages/node-mongo/package.json
  packages/node-mongo/src/database.ts
  packages/node-mongo/src/service.ts
  template/apps/api/src/globals.d.ts
  template/apps/api/src/logger.ts
  template/bin/setup.sh
  template/docker-compose.yml
Labels: Reviewed, node-mongo, Improvement

#229 Fix: Google oauth update isValidCredentials to require both clientId and clientSecret of google
  template/apps/api/src/resources/account/actions/google.ts
Labels: Bug, Reviewed, template

#234 fix: change WS_URI variable in web environments
  template/apps/web/.env.development
  template/apps/web/.env.production
  template/apps/web/.env.staging
Labels: Bug, Reviewed, template

#232 update Digital Ocean Apps documentation
  docs/deployment/digital-ocean-apps.mdx
  docs/deployment/kubernetes/aws.mdx
  docs/deployment/render.mdx
Labels: Reviewed, docs
