Repository paralect/ship, pull requests merged in 2024-10, with the labels that each got.

#325 fix: change the way of initializing analytics server on web
  template/apps/web/src/pages/_app/PageConfig/index.tsx
  template/apps/web/src/resources/account/account.api.ts
Labels: Bug, Approved, template

#326 fix: add missing params to the error utils definitions
  examples/public-docs/apps/api/src/types/index.ts
  examples/stripe-subscriptions/apps/api/src/types.ts
  template/apps/api/src/types.ts
Labels: Approved, template, Improvement

#328 Fix PhotoUpload component styles
  template/apps/web/.stylelintrc.json
  template/apps/web/package.json
  template/apps/web/src/pages/_app/index.tsx
  template/apps/web/src/pages/profile/components/PhotoUpload/index.module.css
  template/pnpm-lock.yaml
Labels: Bug
