Repository paralect/ship, pull requests merged in 2024-04, with the labels that each got.

#292 Create API Resource through Ship CLI
  packages/create-ship-app/.eslintrc.js
  packages/create-ship-app/package.json
  packages/create-ship-app/pnpm-lock.yaml
  packages/create-ship-app/src/helpers/create-resource.ts
  packages/create-ship-app/src/helpers/index.ts
  packages/create-ship-app/src/helpers/lintDir.ts
  packages/create-ship-app/src/helpers/resources-templates.ts
  packages/create-ship-app/src/index.ts
  template/apps/api/package.json
  template/packages/app-constants/package.json
  template/packages/app-types/package.json
  template/packages/schemas/package.json
  template/turbo.json
Labels: Feature, Approved, create-ship-app

#293 fix: improve NestedKeys type
  template/packages/app-types/src/common.types.ts
Labels: To Review, template, Improvement

#296 Create WEB Resource through Ship CLI
  packages/create-ship-app/src/helpers/create-resource.ts
  packages/create-ship-app/src/helpers/resources-templates.ts
Labels: Approved, Improvement
