Repository paralect/ship, pull requests merged in 2024-08, with the labels that each got.

#321 Tokens management fixes and improvements
  template/apps/api/src/resources/account/actions/google.ts
  template/apps/api/src/resources/account/actions/reset-password.ts
  template/apps/api/src/resources/token/token.service.ts
Labels: Bug, template, Improvement

#322 Update Mantine version to 7.12
  template/apps/web/package.json
  template/pnpm-lock.yaml
Labels: template, Improvement

#323 fix: add omit private foelds for user list endpoint
  template/apps/api/src/resources/user/actions/list.ts
  template/apps/api/src/services/auth/auth.helper.ts
Labels: Approved, template, Improvement

#319 feat: move validation schemas to the 'schemas' package
  template/apps/api/src/resources/account/actions/forgot-password.ts
  template/apps/api/src/resources/account/actions/resend-email.ts
  template/apps/api/src/resources/account/actions/reset-password.ts
  template/apps/api/src/resources/account/actions/sign-in.ts
  template/apps/api/src/resources/account/actions/sign-up.ts
  template/apps/api/src/resources/account/actions/update.ts
  template/apps/web/src/pages/expire-token/index.page.tsx
  template/apps/web/src/pages/forgot-password/index.page.tsx
  template/apps/web/src/pages/home/constants.ts
  template/apps/web/src/pages/home/index.tsx
  template/apps/web/src/pages/profile/index.page.tsx
  template/apps/web/src/pages/reset-password/index.page.tsx
  template/apps/web/src/pages/sign-in/index.page.tsx
  template/apps/web/src/pages/sign-up/index.page.tsx
  template/apps/web/src/resources/account/account.api.ts
  template/packages/app-types/src/user.types.ts
  template/packages/schemas/package.json
  template/packages/schemas/src/common.schema.ts
  template/packages/schemas/src/index.ts
  template/packages/schemas/src/pagination.schema.ts
  template/packages/schemas/src/token.schema.ts
  template/packages/schemas/src/user.schema.ts
  template/pnpm-lock.yaml
Labels: Approved, template, Improvement
