Repository paralect/ship, pull requests merged in 2024-03, with the labels that each got.

#283 Pagination Improvements
  template/apps/api/src/resources/user/actions/list.ts
  template/apps/api/src/utils/index.ts
  template/apps/api/src/utils/string.util.ts
  template/apps/web/src/pages/home/index.tsx
  template/apps/web/src/resources/user/user.api.ts
  template/apps/web/src/types.ts
  template/packages/app-types/src/common.types.ts
  template/packages/app-types/src/index.ts
  template/packages/schemas/src/index.ts
  template/packages/schemas/src/pagination.schema.ts
Labels: Approved, template, Improvement

#284 Implement auto generation MongoDB keyfile
  template/.gitignore
  template/apps/api/src/config/mongo-keyfile
  template/bin/start.sh
  template/docker-compose.yml
Labels: template, Improvement

#285 Documentation for MongoDB Backup Methods
  docs/deployment/digital-ocean-apps-iac.mdx
  docs/deployment/digital-ocean-apps.mdx
  docs/deployment/kubernetes/aws.mdx
  docs/deployment/render.mdx
Labels: Improvement, docs

#286 feat: update regex validations
  template/apps/api/src/resources/account/actions/reset-password.ts
  template/apps/api/src/resources/account/actions/sign-in.ts
  template/apps/api/src/resources/account/actions/sign-up.ts
  template/apps/api/src/resources/account/actions/update.ts
  template/apps/web/src/pages/profile/index.page.tsx
  template/apps/web/src/pages/sign-up/index.page.tsx
Labels: Approved, template, Improvement

#287 feat: add a default value for the ctx.validatedData
  template/apps/api/src/routes/index.ts
  template/apps/api/src/routes/middlewares/attach-custom-properties.middleware.ts
  template/apps/api/src/types.ts
Labels: Approved, template, Improvement
