Repository paralect/ship, pull requests merged in 2024-07, with the labels that each got.

#300 Add TS generic for db service methods
  packages/node-mongo/package.json
  packages/node-mongo/src/service.ts
  packages/node-mongo/src/tests/service.spec.ts
Labels: Feature, Approved, node-mongo

#305 refactor: change code style
  template/apps/api/src/services/cloud-storage/cloud-storage.service.ts
  template/apps/web/src/pages/profile/components/PhotoUpload/index.tsx
  template/apps/web/src/pages/reset-password/index.page.tsx
Labels: Approved, template

#304 feat: add promiseQueue method
  template/apps/api/src/utils/promise.util.ts
Labels: Approved, template, Improvement

#307 Improvements: Table refactoring & Fix 'any' type in web
  docs/web/styling.mdx
  template/apps/api/.env.example
  template/apps/api/src/resources/token/token.service.ts
  template/apps/api/src/resources/user/actions/list.ts
  template/apps/api/src/routes/middlewares/try-to-attach-user.middleware.ts
  template/apps/api/src/services/socket/socket.service.ts
  template/apps/api/src/utils/security.util.ts
  template/apps/web/src/components/Table/EmptyState/index.tsx
  template/apps/web/src/components/Table/LoadingState/index.tsx
  template/apps/web/src/components/Table/Pagination/index.tsx
  template/apps/web/src/components/Table/Tbody/index.module.css
  template/apps/web/src/components/Table/Tbody/index.tsx
  template/apps/web/src/components/Table/Thead/index.module.css
  template/apps/web/src/components/Table/Thead/index.tsx
  template/apps/web/src/components/Table/index.tsx
  template/apps/web/src/components/Table/tbody/index.tsx
  template/apps/web/src/components/Table/thead/index.tsx
  template/apps/web/src/components/Table/thead/thead.module.css
  template/apps/web/src/config/index.ts
  template/apps/web/src/contexts/index.ts
  template/apps/web/src/contexts/table.context.ts
  template/apps/web/src/pages/expire-token/index.page.tsx
  template/apps/web/src/pages/forgot-password/index.page.tsx
  template/apps/web/src/pages/home/components/Filters/index.tsx
  template/apps/web/src/pages/home/constants.ts
  template/apps/web/src/pages/home/index.module.css
  template/apps/web/src/pages/home/index.tsx
  template/apps/web/src/pages/profile/components/PhotoUpload/index.tsx
  template/apps/web/src/pages/profile/index.page.tsx
  template/apps/web/src/pages/reset-password/index.page.tsx
  template/apps/web/src/pages/sign-in/index.page.tsx
  template/apps/web/src/pages/sign-up/index.page.tsx
  template/apps/web/src/resources/account/account.api.ts
  template/apps/web/src/resources/user/index.ts
  template/apps/web/src/resources/user/user.api.ts
  template/apps/web/src/resources/user/user.handlers.ts
  template/apps/web/src/services/analytics.service.ts
  template/apps/web/src/services/api.service.ts
  template/apps/web/src/services/socket.service.ts
  template/apps/web/src/types.ts
  template/apps/web/src/utils/config.util.ts
  template/apps/web/src/utils/handle-error.util.ts
  template/apps/web/src/utils/index.ts
  template/packages/eslint-config-custom/next.js
  template/packages/eslint-config-custom/node.js
  template/packages/mailer/Dockerfile
Labels: Bug, Approved, template, Improvement

#310 Update package versions
  template/apps/web/package.json
  template/pnpm-lock.yaml
Labels: template, Improvement

#311 fix: fix redirect on the 404 page
  template/apps/web/src/pages/404/index.page.tsx
Labels: Bug, Approved, template

#306 feat: add flattenObject method
  template/apps/api/src/utils/index.ts
  template/apps/api/src/utils/object.util.ts
Labels: Approved, template, Improvement

#315 fix: update paths section in the workflows
  .github/workflows/build-api.yml
  .github/workflows/build-web.yml
  .github/workflows/demo-api-deployment.yml
  .github/workflows/demo-web-deployment.yml
Labels: Approved, template, Improvement

#316 Add stylelint config file with specific rule adjustments
  template/apps/web/.stylelintrc.json
  template/apps/web/package.json
  template/apps/web/src/components/Table/Thead/index.module.css
  template/apps/web/src/pages/profile/components/PhotoUpload/index.module.css
  template/pnpm-lock.yaml
Labels: Feature, Approved, template
