Repository paralect/ship, pull requests merged in 2024-01, with the labels that each got.

#256 Update aws and DO Kubernetes deploy docs
  deploy/aws/deploy/app/api/templates/deployment.yaml
  deploy/aws/deploy/app/api/templates/job.yaml
  deploy/aws/deploy/app/scheduler/templates/deployment.yaml
  deploy/aws/deploy/bin/deploy-secrets.sh
  deploy/aws/deploy/script/src/index.js
  deploy/digital-ocean/deploy/app/api/templates/deployment.yaml
  deploy/digital-ocean/deploy/app/api/templates/job.yaml
  deploy/digital-ocean/deploy/app/scheduler/templates/deployment.yaml
  deploy/digital-ocean/deploy/bin/deploy-secrets.sh
  deploy/digital-ocean/deploy/script/src/index.js
  docs/deployment/kubernetes/aws.mdx
  docs/deployment/kubernetes/digital-ocean.mdx
  docs/images/aws/user-access-key-type.png
  docs/images/aws/user-access-key.png
  docs/images/aws/user-creating.png
  docs/images/aws/user-credentials.png
  docs/images/aws/user-policy.png
  docs/snippets/kubernetes-deploy-envs-section.mdx
  docs/snippets/kubernetes-deploy-port-section.mdx
Labels: Reviewed, docs

#258 feat: change type package import
  template/apps/api/package.json
  template/apps/web/package.json
  template/packages/app-types/.eslintrc.js
  template/packages/app-types/.gitignore
  template/packages/app-types/package.json
  template/packages/app-types/src/index.ts
  template/packages/app-types/src/token.types.ts
  template/packages/app-types/src/user.types.ts
  template/packages/app-types/tsconfig.json
  template/pnpm-lock.yaml
Labels: Approved, Improvement

#262 feat: add redirect to the sign-in page if verify token is invalid
  examples/public-docs/apps/api/src/resources/account/actions/verify-email/index.ts
  examples/stripe-subscriptions/apps/api/src/resources/account/actions/verify-email.ts
  template/apps/api/src/resources/account/actions/verify-email.ts
Labels: Approved, Improvement

#263 Package sharing docs
  docs/api-reference/api-action-validator.mdx
  docs/api-reference/data-schema.mdx
  docs/api-reference/overview.mdx
  docs/mint.json
  docs/package-sharing/overview.mdx
  docs/package-sharing/schemas.mdx
Labels: Approved, docs

#264 Docs fixes: provide an examples to event-handler, change npm to pnpm, fix titles in code snippets
  docs/api-reference/event-handler.mdx
  docs/api-reference/testing.mdx
  docs/architecture.mdx
Labels: Approved, docs

#265 fix: change cron format markdown to image
  docs/images/cron-format.png
  docs/scheduler.mdx
Labels: Approved

#266 Update images with app specs and add additional description
  docs/deployment/digital-ocean-apps.mdx
  docs/images/do-migrator-app-spec.png
  docs/images/do-scheduler-app-spec.png
Labels: Improvement, docs

#267 Update documentation in API Action section
  docs/api-reference/api-action.mdx
Labels: Improvement, docs

#261 Revitalize Storybook
  .github/workflows/storybook-deployment.yml
  template/.github/workflows/storybook-deployment.yml
  template/apps/web/.dockerignore
  template/apps/web/.eslintrc.js
  template/apps/web/.gitignore
  template/apps/web/.storybook/main.ts
  template/apps/web/.storybook/preview.tsx
  template/apps/web/package.json
  template/apps/web/src/components/Link/Link.stories.tsx
  template/apps/web/tsconfig.json
  template/pnpm-lock.yaml
Labels: Bug, Approved

#268 Contribution guide
  docs/contribution-guide.mdx
  docs/mint.json
  package.json
Labels: Approved, docs
